<div class="p-3">
<table>
  <th>Label</th>
  <th>Result</th>
  <th>Severity</th>
{% for r in pan_validations %}
  <tr>
    <td>{{ r.label }}</td>
    <td>{{ r.results }}</td>
    <td>{{ r.severity }}</td>
  </tr>
{% endfor %}
</table>
</div>