- name: Demonstrate how to use OP module to execute various op commands on PANW device
  hosts: all
  connection: local
  gather_facts: False

  collections:
    - paloaltonetworks.panos

  vars:
    provider:
      username: "{{ lookup('env', 'username') | default('admin', True) }}"
      password: "{{ lookup('env', 'password') | default('admin', True) }}"
      ip_address: "{{ lookup('env', 'ip_address') | default('10.10.10.10', True) }}"
    cli: "{{ lookup('env', 'cli') | default('show system info', True) }}"

  tasks:
  - name: Show all interfaces using ('show interface all')
    panos_op:
      provider: '{{ provider }}'
      cmd: '{{ cli }}'
    register: result

  - name: returned output in the default JSON format
    debug: msg='{{ result.stdout }}'

